version: '3'
name: animeenigma

services:

  animeenigma-redis:
    image: redis:6-alpine
    container_name: 'redis'
    restart: on-failure
    ports:
      - 127.0.0.1:16379:6379
    command: redis-server --save 20 1 --loglevel warning --requirepass v0RedisSecret
    volumes:
      - redis:/data

  animeenigma-postgres:
    container_name: pg_container
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgresUserAE
      POSTGRES_PASSWORD: pgSuperSecretMnogaBycaBab
      POSTGRES_DB: animeenigma
    ports:
      - 127.0.0.1:15432:5432
    volumes:
      - postgres:/data
      # - ./custom_pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      # - ./custom_postgresql.conf:/etc/postgresql.conf

  animeenigma-minio:
    image: minio/minio:latest
    container_name: 'minio'
    restart: on-failure
    ports:
      - 127.0.0.1:9000:9000
      - 127.0.0.1:9001:9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  animeenigmaBackend:
    container_name: animeenigmaBackend
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      -

  animeenigmaFrontend:
    container_name: animeenigmaFrontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      -

volumes:
  redis:
    driver: local
  postgres:
    driver: local
  minio:
    driver: local
