go 1.25.0

use (
	./libs/animeparser
	./libs/authz
	./libs/cache
	./libs/database
	./libs/errors
	./libs/httputil
	./libs/idmapping
	./libs/kodikextract
	./libs/logger
	./libs/maintenancegate
	./libs/metrics
	./libs/pagination
	./libs/storageclient
	./libs/streamprobe
	./libs/tracing
	./libs/videoutils
	./services/analytics
	./services/anidle
	./services/auth
	./services/catalog
	./services/fanfic
	./services/gacha
	./services/gateway
	./services/governor
	./services/library
	./services/maintenance
	./services/notifications
	./services/player
	./services/policy
	./services/recs
	./services/rooms
	./services/scheduler
	./services/scraper
	./services/storage
	./services/streaming
	./services/themes
	./services/upscaler
	./services/watch-together
)

replace google.golang.org/genproto v0.0.0-20190425155659-357c62f0e4bb => google.golang.org/genproto v0.0.0-20240123012728-ef4313101c80
