apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: monitoring
  labels:
    app: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      securityContext:
        fsGroup: 5050
        runAsUser: 5050
        runAsNonRoot: true
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:8.3
          ports:
            - containerPort: 80
          env:
            - name: PGADMIN_DEFAULT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: pgadmin-credentials
                  key: email
            - name: PGADMIN_DEFAULT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgadmin-credentials
                  key: password
            - name: SCRIPT_NAME
              value: /pgadmin
            - name: PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION
              value: "True"
            - name: PGADMIN_CONFIG_LOGIN_BANNER
              value: "'AnimeEnigma Database Admin'"
          volumeMounts:
            - name: config
              mountPath: /pgadmin4/servers.json
              subPath: servers.json
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /pgadmin/misc/ping
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /pgadmin/misc/ping
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: pgadmin-config
